@model ProvideDataViewModel

@{
    ViewData["Title"] = "Provide data";
}

<div class="container" style="height:100vh">
    <div class="row">
        <div class="col text-center">
            @using (Html.BeginForm("Index", "ShowWeather", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>Wprowadz swoje miasto</div>
                @Html.EditorFor(model => model.CityName);
                <b-button role="button" class="btn btn-primary">Wyszukaj</b-button>
            }
        </div>
    </div>
</div>
