@model ProvideDataViewModel

@{
    ViewData["Title"] = "Provide data";
}

<div id="provideData"></div>

<template id="provideDataTemplate">

    <div class="container-fluid">
        <div class="text-center">
            @using (Html.BeginForm("Index", "ShowWeather", FormMethod.Post, new { enctype = "multipart/form-data", @ref = "InputForm" }))
            {
                <h2 class="mb-4">Wprowadz swoje miasto</h2>
                @Html.EditorFor(model => model.CityName, new { @class = "input-lg" });
                @Html.ValidationMessageFor(model => model.CityName);
                <button role="button" class="btn btn-primary" @@click="SubmitForm">Wyszukaj</button>
            }
        </div>
    </div>

</template>

@section Scripts {
    <script src="~/js/ProvideData.js" asp-append-version="true"></script>
}
