body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.main-wrapper {
    background-image: url('../images/Wallpapers/pogodeo-main.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
