.body {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    background-image: url('../images/Wallpapers/pogodeo-main.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
