.body {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    background-image: url('../images/Wallpapers/pogodeo-main.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    height: 100vh;
}

.wrapper {
    margin: auto;
}

.weather-container {
    padding: 30px;
    background-color: #fff;
    opacity: 0.8;
    width: 70vw;
}

.card-img-top {
    height: 60px;
}
