@model ShowWeatherViewModel

@{
    ViewData["Title"] = "Show weather";
}

<div id="showWeather"></div>

<template id="showWeatherTemplate">
    <div class="wrapper text-center" style="top:35%">
        <h2>Wybrane miasto to: @Model.CityName</h2>

        <div class="card-deck mt-5" style="margin-left: 200px; margin-right: 200px;">

            @foreach (var weather in Model.WeatherInformationsList)
            {
                <weather-tile v-bind:weather="@weather.ToJson()"></weather-tile>
            }

        </div>
    </div>
</template>

@section Scripts {
    <script src="~/js/ShowWeather.js" asp-append-version="true"></script>
}

@Html.Partial("ComponentTemplates/WeatherTileTemplate")
