@model ShowWeatherViewModel

@{
    ViewData["Title"] = "Show weather";
}

<div class="container">
    <h2>Wybrane miasto to: @Model.CityName</h2>

    <h3 class="mt-6">Pogoda:</h3>

    @foreach (var weather in Model.WeatherInformationsList)
    {
        <div>Kto: @weather.WeatherProviderAPIName</div>
        <div>Ile: @weather.Celsius</div>
    }
</div>
